#chartdiv {
    width: 100%;
    height: 500px;
    font-size: 11px;
}

#report-table, #report-table div, .dataTables_info, .dataTables_paginate, label, select {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

#report-table, #report-table div, .dataTables_info, .dataTables_paginate, label, select {
    margin-left: 17px;
}

#mode-selector {
    cursor: pointer;
    margin-top: 25px;
}
